html {
   box-sizing: border-box;
 }
 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }

 body {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   background-color: black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .navbar {
   transition: 0.4s;
   background-color: black;
   width: 100%;
   height: 7vh;
   top: 0;
   position: sticky;
   z-index: 100;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-end;
   align-items: center;

   padding: 0 10vw ;
   margin-bottom: 2vw;
 }

 .navbar .navlink {
   text-decoration: none;
   color: white;
   margin: 0 2vw;
   font-weight: bold;
   font-size: 1.2rem;
   transition: color 0.3s;
 }

 .navlink:hover {
   color: rgb(255,77,0);
 }

 .navbar .navlogo {
   text-decoration: none;
   color: black;
   margin: 16vh auto -1vw 2vw;
   width: auto;
   height: 20vh;
 }

#logo {
   opacity: 100%;
   transition: 0.4s;
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding-left: 1vw;
  }
  .navbar .navlogo {
    margin: 12vh auto -1vw 2vw;
    width: auto;
    height: 15vh;
  }
}

@media only screen and (max-width: 320px) {
  .navbar {
    padding-left: 1vw;
  }
  .navbar .navlink {
    font-size: 1rem;
  }

  .navbar .navlogo {
    margin: 12vh auto -1vw 2vw;
    width: auto;
    height: 15vh;
  }
}

.landing-image {
  width: 100vw;
  height: 100vh;
  margin-top: -5vh;
  z-index: 0;

  background-image: url(./carwash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: red;

  color: white;
  height: auto;


  font-size: 4rem;
}

@media only screen and (max-width:700px){
    .landing-text {
      font-size: 2rem;
    }
}

.landing-buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  top: 60vh;
  gap: 1vw;
  width: 100%;
  padding: 0 10vw;
}

.booking-button, .learn-button {
  position: relative;
  text-align: center;

  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.579);

  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  padding: 1vw;
  border: none;
  border-radius: 3vw;

  transition: 0.4s;
}

.booking-button {
  background-color: rgb(0,195,229);
  background: linear-gradient(to bottom, rgb(0, 195, 229), rgb(0,149,176));
  -webkit-background-clip: padding-box;
}

.learn-button {
  background-color: rgb(0,195,229);
  background: linear-gradient(to bottom, rgb(255,136,0), rgb(255,77,0));
  -webkit-background-clip: padding-box;
}

.booking-button:hover {
  background: linear-gradient(to bottom, rgb(253,231,0), rgb(254,182,0));
}

.learn-button:hover {
  background: linear-gradient(to bottom, rgb(253,231,0), rgb(254,182,0));
}

.fade-bottom {
  position: absolute;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0));
  background-repeat: no-repeat;
  bottom: 0;
  height: 20%;
  width: 100%;
  margin-bottom: -6vh;
}

.appointment-container {
  width: 100%;
  height: 50vh;
  margin: 0;
  background-color: red;
  padding: 1vh 0;
}

.side-media-bar {
  height: auto;

  background-color: rgb(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(6px);
  padding: 2vh 0.5vw;
  border-radius: 1vw;

  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2vh;

  position: fixed ;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.media-icon {
  background-color: rgb(255, 0, 0, 0);
}

.media-icon img {
  display: block;
  width: 2.3vw;
  transition: 0.4s;
}

.media-icon img:hover {
  width: 2.5vw;
}

@media only screen and (max-width: 800px) {
  .side-media-bar{
    padding: 2vh 1vw;
  }
  .media-icon img {
    width: 7vw;
  }
}

#about {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  width: 100%;
  height: auto;
  padding: 0 10vw;
}

.about-text {
  background-color: brown;
  text-align: left;
  width: 50%;
  
  flex-grow: 1;
  align-self: center;
  padding: 10vh 1vw;
  font-size: 1.2rem;
}

.about-text h2 {
  margin: 0 0 1vw 0;
}

.about-image {
  background-color: rgb(255, 0, 0);
  text-align: left;
  width: 50%;
  
  flex-grow: 1;
  padding: 1vw;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 800px) {
  #about {
    flex-wrap: wrap;
  }
  .about-image, .about-text {
    width: 100%;
  }
}

#footer {
  color: white;
  background-color: black;
  font-size: 1rem;
  padding: 0 10vw;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10vw;
  flex-grow: 1;
  bottom: 0;

  height: auto;

}

.footer-item {
  color: white;
  text-align: left;
  background-color: black;
  margin-top: 5vh;

  width: 100vw;
}

.footer-item h3 {
  color: rgb(252,198,0);
}

.footer-item ul {
  list-style: none;
  padding: 0;
}

.footer-item ul li{
  margin: 1vh 0;
}

@media only screen and (max-width: 800px) {
  #footer {
    flex-wrap: wrap;
  }
}