html {
   box-sizing: border-box;
   background-color: black;
 }
 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }

 @font-face {
  font-family: Commando;
  src: url(./commando.ttf);
 }

 body {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   background-color: black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   scroll-behavior: smooth;
 }

 .navbar {
   transition: 0.4s;
   background-color: rgb(0, 0, 0, 0);
   width: 100vw;
   height: 6vh;
   top: 0;
   position: sticky;
   z-index: 100;
   scroll-behavior: smooth;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   gap: 10vw;

   text-align: center;

   padding: 0;
   margin-bottom: 2vw;
 }

 .navbar .navlink, .book-button {
   font-family: Commando;
   text-decoration: none;
   color: white;
   margin: 0;
   margin-top: 8vh;
   padding: 0;
   width: auto;
   font-weight: normal;
   font-size: 15px;
   transition: color 0.3s;
   z-index: 5;
 }

 .navlink {
  padding: 0;
  margin: 0;
 }

 .navlink:hover {
   color: rgb(252,198,0);
 }

 .navbar .navlogo {
   justify-self: center;
   text-decoration: none;
   color: black;
   margin-top: 8vh;
   margin-left: 0;
   width: auto;
   height: 9vh;
   z-index: 6;
 }

 .book-button {
  background-color: rgb(0, 0, 0, 0.4);
  background: blur(4px);
  padding: 0 2vw;
  text-shadow: -3px 1px  black;
  border: 3px solid black;
  border-radius: 1vw;
  text-align: center;
  text-justify: center;
  font-size: 18px;

  transition: 0.4s;
 }

 .book-button:hover {
   background-color: rgb(0,180,212);
 }



#logo {
   opacity: 100%;
   transition: 0.4s;
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 0 2vw;
    width: 100%;
    gap: 3vw;
  }

  .navlogo {
    height: 1vh;
  }

  .book-button {
    padding: 1vw;
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  .navbar {
    padding-left: 1vw;
  }
  .navbar .navlink {
    font-size: 1rem;
  }

  .navbar .navlogo {
    margin: 12vh auto -1vw 2vw;
    width: auto;
    height: 15vh;
  }
}

.landing-image {
  width: 100vw;
  height: 100vh;
  z-index: 0;

  

  background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 27%), url(./stripNightitime2.jpg);
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-text {
  font-family: Commando;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-shadow: 0 8px 15px rgba(0, 0, 0, 0.579);
  color: white;
  height: auto;


  font-size: 4rem;
}

.landing-text h6 {
  margin-top: 1vh;
  text-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width:700px){
    .landing-text {
      font-size: 4rem;
    }

    .landing-image {
      background-attachment: scroll;
      background-position: 60%;
      background-repeat: no-repeat;
      background-size: cover;
    }
}

.landing-buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  scroll-behavior: smooth;
  top: 50vh;
  gap: 1vw;
  width: 100%;
  padding: 0 10vw;
}

.booking-button, .learn-button {
  font-family: Commando;
  position: relative;
  text-align: center;

  /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.579); */

  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.3rem;
  color: white;
  padding: 1vw;
  border: none;
  border-radius: 3vw;

  transition: 0.4s;
}

.booking-button {
  left: -1.6vw;
  background-color: rgb(252,76,2);
  color: white;
  -webkit-background-clip: padding-box;
}

.learn-button {
  right: -1.6vw;
  background-color: rgb(0,195,230);
  -webkit-background-clip: padding-box;
}

.booking-button:hover {
  background: linear-gradient(to bottom, rgb(253,231,0), rgb(254,182,0));
  color: black;
}

.learn-button:hover {
  color: black;
  background: linear-gradient(to bottom, rgb(253,231,0), rgb(254,182,0));
}

.fade-bottom, .fade-top {
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
}

.fade-bottom {
  height: 20%;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0));
  bottom: 0;
  margin-bottom: 0vh;
}

@media only screen and (max-width: 700px) {
  .booking-button, .learn-button {
    bottom: 14vh;
    border-radius: 10vw;
    justify-content: center;
    padding: 3.5vw 1vw;
  }

  .landing-buttons {
    margin-top: 30vh;
    gap: 2vw;
  }
}

@media only screen and (min-width: 1500px) {
  .fade-bottom {
    bottom: -3vh;
    height: 20vh;
  }
}

.fade-top {
  height: 20%;
  background: linear-gradient(to top, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
  top: 0;
}


.appointment-container {
  width: 100%;
  height: 100vh;
  margin: 11vh 0;
  background-color: black;
  padding: 1vh 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: wrap;

  gap: 2vw;
}

.appointment-container .service-title {
  font-family: Commando;
  position: absolute;
  top: 112vh;
  color: white;
  font-size: 4rem;

}

.appointment-container .service-slide {
  width: 30vw;
  height: 50vh;
  background-color: white;
  border-radius: 3vw;
  text-align: center;
  padding-bottom: 75vh;
}

@media only screen and (max-width:700px) {

  .appointment-container {
    height: auto;
    padding-top: 25vh;
  }

  .appointment-container .service-slide {
    width: 75vw;
    height: 40vh;
    margin: 5vh 0;
    padding-bottom: 70vh;
  }
  .appointment-container .service-slide ul {
    margin: 5vh 0 0 0;
    padding: 0;
    font-size: 1rem;
  }

}

.service-slide ul{
  width: auto;
  list-style: none;
  font-size: 1.7em;
  margin-left: -2vw;
}

.service-slide ul li {
  margin: 1vh 0;
}

.service-slide h1 {
  top: 0;
}

.service-slide h3 {
  margin-top: 10%;
  color: rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.service-slide img {
  width: 50%;
  margin-bottom: -4vh;
  margin-top: -5vh;
}

.service-slide img.premium-icon {
  width: 50%;
  margin-bottom: -4vh;
  margin-top: -5vh;
}

.service-slide a {
  display: inline;
  position: relative;
  text-decoration: none;
  color: white;
  top: 3vh;
  padding: 1vw;
  background-color: rgb(0,195,230);
  border-radius: 2vw;
  margin: 10px 0;

}

.service-slide a:hover {
  background: linear-gradient(to bottom, rgb(253,231,0), rgb(254,182,0));
  color: black;
}

.service-slide h1, .service-slide h3, .service-slide a {
  font-family: Commando;
}

@media only screen and (max-width:700px){
    .service-slide a {
      padding: 2vw;
    }
}

.side-media-bar {
  width: fit-content;
  height: auto;

  background-color: rgb(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(6px);
  padding: 2vh 0.5vw;
  border-radius: 1vw;

  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2vh;

  z-index: 99;
  position: fixed ;
  left: 0;
  top: 85vh;
  transform: translate(0, -50%);
}

@media only screen and (max-width: 700px) {
    .side-media-bar {
      top: 78vh;
    }
}

.media-icon {
  background-color: rgb(255, 0, 0, 0);
}

.media-icon img {
  display: block;
  width: 2.3vw;
  transition: 0.4s;
}

.media-icon img:hover {
  width: 2.5vw;
}

@media only screen and (max-width: 800px) {
  .side-media-bar{
    padding: 2vh 1vw;
  }
  .media-icon img {
    width: 7vw;
  }

  .media-icon img:hover {
    width: 7vw;
  }
}

#about {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  width: 100%;
  height: auto;
  padding: 0 10vw;
}

.about-text {
  background-color: rgb(0, 0, 0);
  text-align: left;
  width: 50%;
  
  flex-grow: 1;
  align-self: center;
  padding: 10vh 1vw;
  font-size: 1.2rem;
}

.about-text h2 {
  font-family: Commando;
  margin: 0 0 1vw 0;
}

.about-image {
  background-color: rgb(0, 0, 0);
  text-align: left;
  width: 50%;

  display: flex;
  justify-content: center;
  
  flex-grow: 1;
  padding: 1vw;
}

.about-image img {
  width: 50%;
  height: auto;
  object-fit: contain;
}

@media only screen and (max-width: 800px) {
  #about {
    flex-wrap: wrap;
  }
  .about-image, .about-text {
    width: 100%;
  }
}

#footer {
  color: white;
  background-color: black;
  font-size: 1rem;
  padding: 0 10vw;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10vw;
  flex-grow: 1;
  bottom: 0;

  height: auto;

}

.footer-item {
  color: white;
  text-align: left;
  background-color: black;
  margin-top: 5vh;

  width: 100vw;
}

.footer-item h3 {
  color: rgb(252,198,0);
}

.footer-item ul {
  list-style: none;
  padding: 0;
}

.footer-item ul li{
  margin: 1vh 0;
}

@media only screen and (max-width: 800px) {
  #footer {
    flex-wrap: wrap;
  }
}

.contact {
  width: 100%;
  height: auto;

  background-color: black;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.email-container form {
  background-color: white;
  width: 60vw;
  padding: 2vw 4vw;
  margin-bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
}

.email-container h1 {
  font-family: Commando;
  margin-bottom: 8vh;
}

.email-container input, .email-container textarea {
  color: black;
  background: #f5f5f5;

  font-size: 1rem;
  
  height: 5vh;
  border: 2px solid black;
}

.email-container #form-message {
  height: 10vh;
}

.email-container button {
  width: 20vw;
  align-self: center;
  
  padding: 1rem;

  background: rgb(0,195,230);
  color: white;

  font-family: Commando;
  font-size: 1rem;
  border: 0;
  border-radius: 10vw;

  cursor: pointer;
}

.email-container button:hover {
  background: linear-gradient(to bottom, rgb(253,231,0), rgb(254,182,0));
}

.contact {
  margin-bottom: 10vh;
}

.scheduler {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-top: 1vh;

}

.scheduler-buttons {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 5vh;
  padding-bottom: 10vh;
  text-decoration: none;
  color: white;
  font-size: 1.2em; 
}

.scheduler-buttons a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;

  font-weight: 250;
  font-family: Commando;

  padding: 1vw;
  border-radius: 1.8vw;
  background-color:  rgb(0,180,212);
}

.scheduler-buttons a:hover {
  background-color: rgb(252,198,0);
}

.member-title {
  font-family: Commando;
  color: white;
  font-size: 4rem;
  text-align: center;
}

.membership-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  gap: 5vh;

  list-style: none;
  text-align: center;
  color: black;
  width: 100%;

  padding: 0;
  margin: 0;
}

.membership-list li {
  width: 60%;
  font-family: 'Commando';
  font-size: 1.2rem;
  color: white;
  padding: 3vh 1vh;
  border-radius: 12px;
  background-color: rgb(0,180,212);
}

.membership-list li:hover {
  color: black;
  background-color: rgb(252,198,0);
  cursor: pointer;
}

.about-title {
  font-family: Commando;
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-top: 20vh;
  margin-bottom: -1vh;
}

@media only screen and (max-width:700px) {
  .member-title {
    font-size: 2.8rem;
  }

}


.package-chart {
  width: 50vw;
  height: 50vw;

  margin-left: 25vw;
  margin-top: 20vw;

  display: block;
  text-align: center;

  border-radius: 3vw;
  border: rgb(0,195,230) double 30px;
}

@media only screen and (max-width:700px) {
  .package-chart {
    width: 100vw;
    height: 100vw;
    display: inline-block;
    margin-left: 1px;
    margin-top: 30vh;
    margin-bottom: -30vh;
    border: rgb(0,195,230) double 15px;
  }

}